<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Digit Recognition Program</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      
      <div class="container1">
        <h3 class="jumbotronHeading">Draw the digit inside this Box!<span>Created by Satyendra Singh</span></h3>
        <hr>
        <div class="slidecontainer">
          <p>Drag the slider to change the line width.</p>
          <input type="range" min="10" max="50" value="15" id="myRange">
          <p>Value: <span id="sliderValue"></span></p>
          <div class="resultcontainer" id="resultcontainer">
            <p id="result">Get your prediction here!!!<h3 id="prediction"></h3></p>
          </div>
          <a class="btn btn-success myButton" href="#" role="button">Predict</a>
        </div>
        <div class="canvasDiv">
          <canvas id="canvas" width="280" height="280"></canvas>
          <br>
          <p style="text-align:center;">
            
            <a class="btn btn-primary" href="#" id="clearButton" role="button">Clear</a>
          </p>
        </div>
      </div>
    </div> 
    

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="{{ url_for('static',filename='index.js') }}"></script>
    <script type="text/javascript">
     
    $(".myButton").click(function(){
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      var canvasObj = document.getElementById("canvas");
      var textObjResult = document.getElementById("result");
      var textObjPred= document.getElementById("prediction");
      var divObjResult= document.getElementById("resultcontainer");
      var img = canvasObj.toDataURL();
      alert($SCRIPT_ROOT);
      $.ajax({
        type: "POST",
        url: $SCRIPT_ROOT + "/predict/",
        data: img,
        success: function(data){
          console.log('Under ajax construct');
          $('#result').text('Predicted Output');
          $('#prediction').text(data);
          divObjResult.style.paddingTop="5px"
          divObjResult.style.paddingBottom="1px"
          divObjResult.style.height="90px"
          textObjResult.style.textAlign="center";
          textObjResult.style.fontSize="12px";
          textObjPred.style.fontSize="50px";
        }
      });
    });
   
     </script>
  </body>
</html>